.App {
  text-align: center;
  background-color: black;
}

body {
  background-color: black;
}



.App-link {
  color: #61dafb;
}

.MenuLink{
 
  position: absolute;
  width: 20%;
  color: antiquewhite;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 10%;

  margin-left: 40%;
  font-size: xx-large;
  text-align: center;
  

}

.spacing{


  padding-bottom: 5ch
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
